<div id="post-body">
    <div id="tags" class="mx-3 overflow-auto">
        <%@testTag = ["#tag","#tagEx","#tagExample","#isittag?","#hah!"]%>
        <%for i in (0...100)%>
            <button class="btn btn-sm btn-outline-primary m-2" style="box-shadow: none;" data-toggle="button" aria-pressed="false">
                <%=@testTag[Random.rand(0...@testTag.length())]%>
            </button>
        <%end%>
    </div>
    <div id="post-list" class="p-3">
        <div class="row row-cols-1 justify-content-center w-100 m-0 m-auto">
            <% for i in (0...5)%>
                <%= link_to "#", class: "col card border-primary m-2 px-3" do%>
                    <div class="row">
                        <div class="col-3 col-md-2 m-0 m-auto" style="max-width: 8rem;">
                            <div id="like" class="border border-primary rounded text-primary text-center w-75 mx-0 mx-auto mb-4"><%=Random.rand(0...10)%><br><span>like</span></div>
                            <div id="answer-num" class="border border-primary rounded text-primary text-center w-75 mx-0 mx-auto mt-4"><%=Random.rand(0...10)%><br><span>answer</span></div>
                        </div>
                        <div id="post-content" class="col-9 col-md-10 card-body my-0 my-auto">
                            <div class="d-flex justify-content-between" >
                                <h3 id="post-title" class="card-title text-primary">title</h3>
                                <div id="post-user-info" class="text-primary">username</div>
                            </div>
                            <p id="post-primary" class="card-text overflow-hidden text-primary w-100" style="height: 3rem; text-overflow: ellipsis; white-space: nowrap;"> [content]<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Diam sollicitudin tempor id eu.</p>
                            <div id="post-tags" class="">
                                <% for i in (0...Random.rand(0...10)) %>
                                    <button class="btn btn-sm btn-primary text-white rounded-pill m-1">#tag</button>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mb-0 mt-4">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span class="text-primary" aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link text-primary" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-primary" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-primary" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span class="text-primary" aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>