<!doctype html>
<html>
    <head>
        <%= stylesheet_link_tag "contents"%>
        <style>
            @media (min-width: 992px) { 
                
            }
            @media (max-width: 991.98px) {
                
            }
        </style>
    </head>
    <body>
        <div class="d-flex">
            <img width="100" height="100" class="p-3" src="<%=asset_path @lang.extension+"_logo.png"%>"/>
            <h1 class="align-self-center mr-auto"><%=@lang.langName%></h1>
            <form class="input-group w-25 my-0 my-auto">
                <div class="input-group-prepend ">
                    <div class="input-group-text bg-white border-right-0">
                        <i class="fas fa-search text-primary" aria-hidden="true"></i>
                    </div>
                </div>
                <input class="search form-control border-left-0 pl-n3 mr-3" type="search" placeholder="Search in Contents">
            </form>
            <% if current_user %>
                <button class="ml-3 mr-3 btn btn-default align-self-center bg-primary text-white">글쓰기</button>
            <% end %>
        </div>
        <div class="jumbotron jumbotron-fluid" id="descriptor">
            <p class="display-4 text-dark text-center">다양한 게시글에서 원하시는 정보를 찾아보세요.</p>
        </div>
        <ul class="nav nav-tabs mx-1" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="code-tab" data-toggle="tab" href="#code" role="tab" aria-controls="code" aria-selected="true">코드질문</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="study-tab" data-toggle="tab" href="#study" role="tab" aria-controls="study" aria-selected="false">공부방</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="question-tab" data-toggle="tab" href="#question" role="tab" aria-controls="question" aria-selected="false">Q&A</a>
            </li>
        </ul>
        <div class="tab-content" id="primaryTabContents">
            <div class="tab-pane fade show active container-fluid" id="code" role="tabpanel" aria-labelledby="code-tab">
                <%= render 'contents/postList'%>
            </div>
            <div class="tab-pane fade container-fluid" id="study" role="tabpanel" aria-labelledby="study-tab">
                ...제작중
            </div>
            <div class="tab-pane fade container-fluid" id="question" role="tabpanel" aria-labelledby="question-tab">
                ...제작중
            </div>
        </div>
    </body>
</html>
