<!DOCTYPE html>
<html>
	<h1 align="center">
		로그인창
	</h1>
	<body>
		<p>
			<div style="text-align: right">
			<a href ="/" class="btn btn-primary"> 뒤로 돌아가기 </a>
			</div>
			<form action="/" align="center">
				<input type = "text" id ='id' placeholder='아이디'>
				<input type = "text" password = 'password' placeholder="비밀번호">
				<input type = "submit">	
			</form>			
		</p>
	</body>
</html>