<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag "home"%>
	</head>
	<body>
		<div class="jumbotron jumbotron-fluid mt-n1 bg-light text-dark">
			<p class="display-3 text-dark mx-0 mx-auto text-center">환영합니다</p>
			<p class="lead text-dark font-weight-bold text-center">항공대 학생들을 위한 개발 커뮤니티</p>
		</div>
		<div class="row row-cols-4 row-cols-md-6 card-column justify-content-center w-100 h-100 contents m-0 m-auto">
			<% @lang_name.each_with_index do |lang, i|%>
				<a class="col card logo_img" href="<%="/contents/?index="+i.to_s%>">
					<img class="card-img-top p-3" src="<%=asset_path @lang_extension[i]+"_logo.png"%>"/>
					<div class="card-body">
						<h5 class="card-title"><%=lang%></h5>
					</div>
				</a>
			<% end %>
		</div>
	</body>
</html>
