<!doctype html>
<html>
	<h1>
		<p style="text-align:center;"><%= @title%></p>
	</h1>
	<p>
		<p style="text-align:center;">항공대 학생들을 위한 개발 커뮤니티</p>
		<p style="text-align:right;"><%= @login%>&nbsp<%= @signin%></p>
	</p>
	<hr color = "black" size = '3' noshape>
</html>



