<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div class="jumbotron jumbotron-fluid mt-n1 bg-light text-dark pl-5">
			<div class="container pl-5">
				<h1 class="display-1 text-dark pl-5">환영합니다</h1>
				<p class="lead text-dark pl-5 font-weight-bold">항공대 학생들을 위한 개발 커뮤니티</p>
			</div>
		</div>
		<div class="row row-cols-4 row-cols-md-6 card-column justify-content-center w-100 h-100 contents m-0 m-auto">
			<% @lang_name.each_with_index do |lang, i|%>
				<a class="col card logo_img" href="<%="/contents/?index="+i.to_s%>">
					<img class="card-img-top p-3" src="<%=asset_path @lang_extension[i]+"_logo.png"%>"/>
					<div class="card-body">
						<h5 class="card-title"><%=lang%></h5>
					</div>
				</a>
			<% end %>
		</div>
	</body>
</html>
