<!doctype html>
<head>
	<h1>
		회원가입
	</h1>
	<body>
		<form action= "/create" method = "post">
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<!-- 이부분은 잠시 authenticity_token error를 처리하기위해서 사용함. 나중에 동적으로 바뀌고 배포시에 수정필요 -->
				성 : <input type = "text" name = 'first_name'/><br>
				이름 : <input type = "text" name = 'last_name'/><br>
				이메일 :<input type = "text" name = 'email'/><br>
				<input type = "submit">	
		</form>	
	</body>
</head>