// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input.search.form-control {
    padding: 0rem 0rem;
}
input.search.form-control:focus {
    border-color: lightgrey;
    box-shadow: none;
}
.jumbotron {
    background-image: asset-url("kau.jpg");
}