// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.jumbotron {
    background-image: asset-url("bg.jpg");
    background-position: center center;
    background-size: cover;
}

.contents {
    text-align: center;
    align-self: center;
}

.logo_img {
    margin: 1%;
}

a.card:hover {
  background-color: skyblue;
  text-decoration: none;
}
