// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#search_bar {
    padding-top: 2%;
    text-align: center;
}

.contents {
    padding: 5%;
    text-align: center;
}

.logo_img {
    height: 10%;
    width: 10%;
    margin: 2%;
}