// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input.search.form-control {
    padding: 0rem 0rem;
}
input.search.form-control:focus {
    border-color: lightgrey;
    box-shadow: none;
}
.jumbotron {
    background-image: none;//asset-url("kau.jpg");
}
/* width */
#tags::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
#tags::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgrey;
    border-radius: 10px;
}

/* Handle */
#tags::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 10px;
}